.navbar {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-link {
	text-decoration: none;
	color: white;
	transition: 0.3s all;
}

.nav-links {
    display: grid;
	grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
	list-style: none;
}